<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kuplay.pi_framework">
    <application>
        <activity
                android:name=".framework.WebViewActivity"
                android:screenOrientation="portrait"
                android:launchMode="singleTask"
                android:theme="@style/FullScreenWithoutAny">
        </activity>
        <activity
                android:name=".framework.NewWebViewActivity"
                android:launchMode="singleInstance"
                android:screenOrientation="portrait"
                android:theme="@style/GameScreenWithoutAny" />

        <activity
                android:name=".gameView.ShareActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".gameView.ChargeInGameActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".gameView.ChargeActivity"
                android:screenOrientation="portrait" />
        <service
                android:name=".module.service.UpdateAppService"
                android:enabled="true"
                android:exported="true" />
        <service
                android:name=".module.service.RestartService"
                android:enabled="true"
                android:exported="true" />

        <service
                android:name=".piv8.piv8Service"
                android:enabled="true"
                android:exported="true" />

    </application>
</manifest>


