<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.high.pi_framework">

    <application>
        <activity
                android:name="com.high.pi_framework.framework.WebViewActivity"
                android:screenOrientation="landscape"
                android:windowSoftInputMode="adjustNothing"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:launchMode="singleTask"
                android:theme="@style/FullScreenWithoutAny">
        </activity>
        <activity
                android:name="com.high.pi_framework.framework.NewWebViewActivity"
                android:launchMode="singleInstance"
                android:screenOrientation="landscape"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:theme="@style/GameScreenWithoutAny" />
        <service
                android:name="com.high.pi_framework.module.service.UpdateAppService"
                android:enabled="true"
                android:exported="true" />
        <service
                android:name="com.high.pi_framework.module.service.RestartService"
                android:enabled="true"
                android:exported="true" />
    </application>
</manifest>


