<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.high.pi_framework">
    <application>
        <activity
                android:name="com.high.pi_framework.framework.WebViewActivity"
                android:screenOrientation="portrait"
                android:launchMode="singleInstance"
                android:theme="@style/FullScreenWithoutAny">
        </activity>
        <activity
                android:name="com.high.pi_framework.framework.NewWebViewActivity"
                android:launchMode="singleInstance"
                android:screenOrientation="portrait"
                android:theme="@style/GameScreenWithoutAny" />

        
        <service
                android:name="com.high.pi_framework.module.service.UpdateAppService"
                android:enabled="true"
                android:exported="true" />
        <service
                android:name="com.high.pi_framework.module.service.RestartService"
                android:enabled="true"
                android:exported="true" />



    </application>
</manifest>


